<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
	<div class="container">
		<form>
			<h1>Login</h1>
			<label for="email">Email</label>
			<input id="email" type="email" placeholder="Enter Email" name="email" required>
			<label for="password">Password</label>
			<input id="password" type="password" placeholder="Enter Password" name="password" required>
			<button id="submit" type="submit">Login</button>
            <a href="/register">or Create an Account</a>
		</form>
	</div>
    
    <script src="../static/login.js"></script>
</body>
</html>

